<h1>Hospital Capacity</h1>
<p>
  This will be an application for hospitals to be able to see the various capacity of surrounding hospitals.
  The hope is that this will help the to balance out capacity across all hospitals within a region during this
  challenging time.
</p>

<h2>Become a Patron</h2>
<p>
  My buddy and I have donated our evenings to this effort.  Please consider supporting our development and hosting
  costs by becoming a Patron.
</p>
<p>
  <a href="https://www.patreon.com/bePatron?u=33463421" data-patreon-widget-type="become-patron-button">
    <img src="assets/become_a_patron_button.png" title="Become a Patron" />
  </a>
  <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</p>
