<ngb-alert *ngIf="showError" [type]="'danger'">
  <strong>Error!</strong> Something went wrong please try again later.
</ngb-alert>
<h1 class="mb-5">Dashboard</h1>
<form>
  <div class="form-group form-inline d-flex justify-content-between">
    <div>Search: <input class="form-control ml-2" type="text" [formControl]="filter" /></div>
    <button type="submit" class="btn btn-primary">Add Hospital</button>
  </div>
</form>
<div class="table-responsive">
  <table class="table table-hover table-fit">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="regionName" (sort)="onSort($event)">Region Name</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" sortable="address1" (sort)="onSort($event)">Address 1</th>
        <th scope="col" sortable="address2" (sort)="onSort($event)">Address 2</th>
        <th scope="col" sortable="city" (sort)="onSort($event)">City</th>
        <th scope="col" sortable="state" (sort)="onSort($event)">State</th>
        <th scope="col" sortable="postalCode" (sort)="onSort($event)">Postal Code</th>
        <th scope="col" sortable="phone" (sort)="onSort($event)">Phone</th>
        <th scope="col" sortable="isCovid" (sort)="onSort($event)">Covid</th>
        <th scope="col" sortable="bedsInUse" (sort)="onSort($event)">Beds In Use</th>
        <th scope="col" sortable="bedCapacity" (sort)="onSort($event)">Beds Capacity</th>
        <th scope="col" sortable="percentOfUsage" (sort)="onSort($event)">Percent Of Usage</th>
        <th scope="col" sortable="updatedOn" (sort)="onSort($event)">Updated On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hospital of hospitals$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="hospital.regionName" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.name" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.address1" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.address2" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.city" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.state" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.postalCode" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.phone" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.isCovid ? 'Yes' : 'No'" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.bedsInUse | number" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.bedCapacity | number" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.percentOfUsage | number" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="hospital.updatedOn | date:'short'" [term]="filter.value"></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>
</div>
