<ngb-alert *ngIf="showError" [type]="'danger'">
  <strong>Error!</strong> Something went wrong please try again later.
</ngb-alert>
<h1 class="mb-5">Dashboard</h1>
<form>
  <div class="form-group form-inline d-flex justify-content-between">
    <div>Search: <input class="form-control ml-2" type="text" [formControl]="filter" /></div>
    <a class="btn btn-primary d-block" [routerLink]="['/hospital', 'new']">Add Hospital</a>
  </div>
</form>
<div class="table-responsive">
  <table class="table table-hover table-fit">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="isCovid">Covid?</th>
        <th scope="col" sortable="regionName">Region Name</th>
        <th scope="col" sortable="name">Info</th>
        <th scope="col" sortable="phone">Phone</th>
        <th scope="col" sortable="bedsInUse">Beds In Use</th>
        <th scope="col" sortable="bedCapacity">Beds Capacity</th>
        <th scope="col" sortable="percentOfUsage">Percent Of Usage</th>
        <th scope="col" sortable="updatedOn">Updated On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hospital of hospitals$ | async; index as i">
        <th scope="row pointer" (click)="edit(hospital.slug)">{{ i + 1 }}</th>
        <td>
          <div class="d-flex align-items-center">
            <select *ngIf="isEdit[i]" class="form-control" id="isCovid" [(ngModel)]="hospital.isCovid">
              <option [ngValue]="true" selected>Yes</option>
              <option [ngValue]="false">No</option>
            </select>
            <ngb-highlight *ngIf="!isEdit[i]" [result]="hospital.isCovid ? 'Yes' : 'No'" [term]="filter.value"></ngb-highlight>
            <svg *ngIf="!isEdit[i]" (click)="isEdit[i]=true" class="bi bi-pencil ml-3 pointer" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                clip-rule="evenodd" />
            </svg>
            <svg *ngIf="isEdit[i]" (click)="update(hospital, i);" class="bi bi-plus ml-3 pointer" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
            </svg>
          </div>
        </td>
        <td class="pointer" (click)="edit(hospital.slug)">
          <ngb-highlight [result]="hospital.regionName" [term]="filter.value"></ngb-highlight>
        </td>
        <td class="pointer" (click)="edit(hospital.slug)">
          <ngb-highlight [result]="hospital.name" [term]="filter.value"></ngb-highlight><br />
          <ngb-highlight [result]="hospital.address1" [term]="filter.value"></ngb-highlight>&nbsp;
          <ngb-highlight [result]="hospital.address2" [term]="filter.value"></ngb-highlight><br />
          <ngb-highlight [result]="hospital.city" [term]="filter.value"></ngb-highlight>,&nbsp;
          <ngb-highlight [result]="hospital.state" [term]="filter.value"></ngb-highlight>&nbsp;
          <ngb-highlight [result]="hospital.postalCode" [term]="filter.value"></ngb-highlight>&nbsp;
        </td>
        <td class="pointer" (click)="edit(hospital.slug)">
          <ngb-highlight [result]="hospital.phone" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <ngb-highlight [result]="hospital.bedsInUse | number" [term]="filter.value"></ngb-highlight>
            <svg class="bi bi-pencil pointer ml-3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <ngb-highlight [result]="hospital.bedCapacity | number" [term]="filter.value"></ngb-highlight>
            <svg class="bi bi-pencil pointer ml-3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </td>
        <td class="pointer" (click)="edit(hospital.slug)">
          <ngb-highlight [result]="hospital.percentOfUsage | number" [term]="filter.value"></ngb-highlight>
        </td>
        <td class="pointer" (click)="edit(hospital.slug)">
          <ngb-highlight [result]="hospital.updatedOn | date:'short'" [term]="filter.value"></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>
</div>
