<ngb-alert *ngIf="showError" [type]="'danger'">
  <strong>Error!</strong> {{showErrorMessage || 'Something went wrong please try again later.'}}
</ngb-alert>
<h1>Set User Password</h1>
<div class="container">
  <form [formGroup]="setPasswordForm" (ngSubmit)="submit()">
    <div class="row justify-content-md-center">
      <div class="col">
        <div class="row">
          <label for="password" class="col-form-label">Password</label>
          <input
            [ngClass]="{ 'is-invalid': setPasswordForm.get('password').invalid && setPasswordForm.get('password').dirty && submitted}"
            id="password" type="password" class="form-control" placeholder="Password" formControlName="password">
          <small *ngIf="setPasswordForm.get('password').errors?.required && submitted" class="text-danger">Password is
            required field.</small>
          <small *ngIf="setPasswordForm.get('password').errors?.pattern && submitted" class="text-danger">Password must
            be at least 6 characters long and consist of A-Z, a-z, 0-9 and special character.</small>
        </div>

        <div class="row">
          <label for="confirmPassword" class="col-form-label">Confirm Password</label>
          <input
            [ngClass]="{ 'is-invalid': setPasswordForm.get('confirmPassword').invalid && setPasswordForm.get('confirmPassword').dirty && submitted}"
            id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
            formControlName="confirmPassword">
          <small *ngIf="setPasswordForm.get('confirmPassword').errors?.required && submitted"
            class="text-danger">Confirm password is required field.</small>
          <small *ngIf="setPasswordForm.get('confirmPassword').errors?.mustMatch && submitted"
            class="text-danger">Password doesn't match.</small>
        </div>

        <div class="row">
          <a class="btn btn-secondary mt-3" [routerLink]="['/users']" routerLinkActive="router-link-active">Cancel</a>
          <button type="submit" class="btn btn-primary mt-3 ml-3">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>
