<ngb-alert *ngIf="showError" [type]="'danger'">
  <strong>Error!</strong> Something went wrong please try again later.
</ngb-alert>
<div class="container">
  <form class="mt-2">
    <div class="form-group form-inline d-flex justify-content-between">
      <div>Search: <input class="form-control ml-2" type="text" [formControl]="filter" /></div>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-hover table-fit">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="name">Info</th>
          <th scope="col" sortable="phone">Phone</th>
          <th scope="col" sortable="isCovid">Covid?</th>
          <th scope="col" sortable="bedsInUse">Beds Used</th>
          <th scope="col" sortable="bedCapacity">Total Beds</th>
          <th scope="col" sortable="percentOfUsage">%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitals$ | async; index as i">
          <td><app-spark-line [hospital]="hospital"></app-spark-line></td>
          <td>
            <ngb-highlight [result]="hospital.regionName" [term]="filter.value"></ngb-highlight><br />
            <ngb-highlight [result]="hospital.name" [term]="filter.value"></ngb-highlight><br />
            <ngb-highlight [result]="hospital.address1" [term]="filter.value"></ngb-highlight>&nbsp;
            <ngb-highlight [result]="hospital.address2" [term]="filter.value"></ngb-highlight><br />
            <ngb-highlight [result]="hospital.city" [term]="filter.value"></ngb-highlight>,&nbsp;
            <ngb-highlight [result]="hospital.state" [term]="filter.value"></ngb-highlight>&nbsp;
            <ngb-highlight [result]="hospital.postalCode" [term]="filter.value"></ngb-highlight>&nbsp;
          </td>
          <td>
            <ngb-highlight [result]="hospital.phone" [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="hospital.isCovid ? 'Yes' : 'No'" [term]="filter.value">
            </ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="hospital.bedsInUse | number" [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="hospital.bedCapacity | number" [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="(( (hospital.bedsInUse / hospital.bedCapacity) * 100) | number) ? (( (hospital.bedsInUse / hospital.bedCapacity) * 100) | number) + '%' : 0"
              [term]="filter.value"></ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
