<h1>Registration</h1>
<div class="container">
  <form>
    <div class="row justify-content-md-center">
      <div class="col">
        <div class="row">
          <label for="email" class="col-form-label">Email</label>
          <input id="email" type="email" class="form-control" placeholder="Email">
          <small class="text-danger">Email is required field.</small>
        </div>
        <div class="row">
          <label for="region" class="col-form-label">Region</label>
          <input id="region" type="test" class="form-control" placeholder="Region">
          <small class="text-danger">Region is required field.</small>
        </div>

        <div class="row">
          <label for="password" class="col-form-label">Password</label>
          <input id="password" type="password" class="form-control" placeholder="Password">
          <small class="text-danger">Password is required field.</small>
          <small class="text-danger">Password doesn't match.</small>
        </div>

        <div class="row">
          <label for="confirmPassword" class="col-form-label">Confirm Password</label>
          <input id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
          <small class="text-danger">Confirm password is required field.</small>
          <small class="text-danger">Password doesn't match.</small>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-primary mt-3">Register</button>
        </div>
      </div>
    </div>
  </form>
</div>
